* {
    margin: 0;
    padding:  0;
    box-sizing: border-box;
    /* outline: 1px dotted red; */
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

header, 
nav,
main, 
footer {
    max-width: 700px;
    margin: 0 auto;
}

header {
    margin: 1rem auto;
    border:  1px solid gray;
    padding: 20px;
    background-color: lavender;
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: center;
    border-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;

}

header img {
    /* width: 100%; */
    /* height: ; */
    border-radius: 15px;
    /* outline: 1px dotted red;  */
    border-radius: 15px 15px 15px 15px;
}

h1 {
    /* margin-left: auto;
    margin-right: auto; */
    font-size: 2rem;
    /* outline: 1px dotted red;  */
}
h2 {
    font-size: 2rem;
}

nav ul li{
    list-style-type: none;
}

main {
    padding: 1rem;
}

main ul {
    /* margin-top: 1rem; */
    padding: 2rem;
}
main ul li {
    list-style-type: none;
    padding-left: 15px;
    font-size: 1.5rem;
}

footer {
    text-align: center;
    background-color: lavender;
    border-radius: 20px;
    padding: 20px;
}
footer p:nth-of-type(1) {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    color: grey;
}
footer p:nth-of-type(2) {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem;
    color: rgb(6, 84, 99);
}

@media screen and (max-width: 700px) {
    header {
        position: relative;
        display: block;
        /* position: relative; */
        text-align: center;
        font-size: 1rem;
    }
    h1 {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding-bottom: 30px;
    }

    h2 {
        text-align: center;
        font-size: 1.5rem;
    }
    
}