/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 2px;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --body-background-color: #ffffff;
  --body-color: #131111;
  --a-active-color: #0000ff;
  --head-background-color: linear-gradient(180deg, rgb(135 118 255) 0%, rgb(210 216 130 / 71%) 75%, rgb(118 143 255 / 0%) 100%);
  --head-color: rgb(0, 0, 0);
  --foot-background-color: rgb(162 156 221);
  --foot-color: rgb(0, 0, 0);
  --tagline-color: rgb(0, 0, 0);
  --date-background-color: rgba(243, 250, 116, 0.446);
  --date-color: rgb(55, 74, 10);
  --navbackground-color: rgb(87, 74, 74);
  --hamburgerBtn-background-color: transparent;
  --hamburgerBtn-color: #5600f6;
  --hamburgerBtn-color-shadow: rgb(255, 255, 255) 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #5600f6 0px 0px 20px, #5600f6 0px 0px 30px, #5600f6 0px 0px 40px, #5600f6 0px 0px 50px, #5600f6 0px 0px 75px;
  --hamburgerBtn-active-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
  --hamburgerBtn-hover-background-color: rgb(0, 255, 26);
  --hamburgerBtn-hover-color: rgb(121, 104, 20);
  --navlink-active-background-color: rgba(0, 0, 0, 0.2);
  --navlink-active-color: #fff;
  --navlink-color: rgb(12, 5, 62);
  --navlink-hover-background-color: rgb(6, 52, 19);
  --navlink-hover-color: white --main-background-color: rgba(208, 222, 205, 0.579);
  --main-head-foot-color: rgb(181, 181, 214);
  --main-dateBanner-background-color: #0e01ff6a;
  --main-dateBanner-color: #FFF700;
  --section-background-color: rgb(235, 240, 222);
  --galP-background-color: #fdfdf6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.invisible {
  /*add tis to image links*/
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  overflow: hidden;
}

.bold {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}


header,
nav,
main,
footer {
  max-width: 100%;
  margin: 0 auto;
}

/* BODY */
body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  background-color: var(--body-background-color);
  color: var(--body-color);
  /* background-image: url("../images/content/lobby650.jpg"); */
}

/* HEADER */
header {
  background: var(--head-background-color);
  padding: 1rem;
  margin: -5;
}

.headerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.companyName {
  width: fit-content;
}

.logo {
  display: flex;
  align-items: center;
  /* margin-left: 1rem; */
  /* border: 1px solid black; */
  /* border-radius: 1rem; */
  padding: .2rem;
}

.logo img {
  width: 80px;
  height: auto;
}

/* NAV */
nav {
  display: none;
  position: reltive;
  /* text-align: right; */
  left: 0;
  right: 0;
  justify-content: flex-end;
}
nav.move {
  background-color: #556457e3;
  display: block;
  position: absolute;
  left: 10%;
  top: 23px;
  width: 335px;
  z-index: 999;
  padding: 1rem;
}

nav.move ul {
  display: block;
  clear: both;
  margin-top: 1rem;
}
nav.move ul li {
  margin: .5rem auto;
}
nav.move ul .dropdown > span::after {
  content: '';
  display: block;
  border-top: 10px solid #5d6063;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  width: 0;
  height: 0;
  position: absolute;
  right: 1.5rem;
  top: 179px;
  left: 228px;
  margin: auto 0;
}
nav.move ul .dropdown ul {
  position: absolute;
  background-color: #2b316a;
}

nav ul {
  display: flex;
  position: relative;
  list-style-type: none;
  padding: 0 .5rem;
  margin: 0;
}

nav ul li {
  padding: 0 .5rem;
}

nav ul li a,
nav ul li span {
  background: linear-gradient(90deg, rgba(90,240,127,1) 0%, rgba(90,240,127,1) 34%, rgba(255, 255, 255, 0.621) 100%);
  display: block;
  padding: .8rem 2vw;
  text-decoration: none;
  color: var(--navlink-color);
  border-top: 1px solid var(--navlink-color);
  font-weight: 900;
  transition: .5s;
}

.dropdown > span::after {
  content: '';
  display: block;
  border-top: 5px solid #5d6063;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  width: 0;
  height: 0;
  position: absolute;
  right: 1.5rem;
  top: 23px;
  margin: auto 0;
}

nav ul li a:hover,
nav ul li span:hover {
  background: linear-gradient(270deg, rgba(90,240,127,1) 0%, rgba(90,240,127,1) 34%, rgba(255, 255, 255, 0.936) 100%);
}

nav ul li.active a {
  /*must place before hover*/
  background-color: var(--navlink-active-background-color);
  color: var(--navlink-color);
  border-radius: 1rem;
}

nav ul li ul {
  display: none;
  position: relative;
}

nav ul li:hover ul {
  display: inline;
  position: absolute;
  right: -7rem;
  margin-right: 7rem;
}
.close {
  display: none;
}

.opem {
  display: block;
}

#hamburgerBtn span:nth-child(1) {
  display: block;
}

#hamburgerBtn span:nth-child(2) {
  display: none;
}

#hamburgerBtn.open span:nth-child(1) {
  display: none;
}

#hamburgerBtn.open span:nth-child(2) {
  display: block;
}

#hamburgerBtn, 
#hamburgerBtn2 {
  float: right;
  margin-bottom: 1rem;
  padding: .5rem;
  border-radius: 1rem;
}

#hamburgerBtn2.close span:nth-child(1) {
  display: block;
}

#hamburgerBtn2.close span:nth-child(2) {
  display: none;
}

#hamburgerBtn2 span:nth-child(1) {
  display: none;
}

#hamburgerBtn2 span:nth-child(2) {
  display: block;
}


/* MAIN */
#wayfind {
  margin-left: 5%;
}

main {
  position: relative;
  background-color: var(--main-background-color);
  padding: .5rem;
  /* opacity: .9; */
}

/* anchor, birch tree, alaska, bear brand */
main a {
  text-decoration: wavy;
  font-weight: 900;
  color: #0c0078;
}

main a:hover {
  color: #0000ff;
}

main a:active {
  color: #0000ff;
  font-weight: bolder;
  text-transform: uppercase;
}

main a:visited {
  color: #4f0335;
}

/* fonts */
.bold {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

/* HOMEPAGE */
.hero {
  position: relative;
}
#heroFigure {
  position: relative;
  margin: 0;
  width: 100%;
  transition: transform 2s;
}

#heroFigure img {
  width: 100%;
  height: auto;
  display: block;
}

.villain {
  display: block;
  /* position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: -1;
    opacity: .5; */
}

.btnBook {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-18%, 100%);
  font-size: 2rem;
  padding: 1rem;
  background-color: rgb(255 5 5);
  color: white;
  font-weight: bolder;
  border-radius: 1rem;
  border: 0 ;
  cursor: pointer;
}
/* end of HOMEPAGE */

/* TEMPLE */
.show {
    display: block;
}
.view-info {
  cursor: pointer;
  background-color: #49ff18;
  padding: .5rem;
  width: 100px;
  text-align: center;
  margin: .5rem auto;
  border-radius: .5rem;
}
.dinfoWrap-info {
  display: none;
}
.dinfoWrap-info.show {
  display: block;
}

.searching label{
  margin: .5rem .5rem 0 .5rem;
  padding: 0;
  font-size: 1.5rem;
  cursor: pointer;
}
.searching input{
  margin: .5rem .5rem .5rem 0;
  padding: .5rem;
  border-radius: .5rem;
}
.cards {
  /* position: absolute; */
  top: 50%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  margin-top: -5rem auto;
  gap: .5rem;
}

.temples-card {
  background-color: rgba(221, 241, 220, 0.91);
  /* border: 1px solid black; */
  padding: 1rem;
  z-index: 10;
  border-radius: 0 .5rem 0 .5rem;
}

.card-wrap {
  margin: .5rem;
}

.temples-img {
  margin: -.5rem;
}

.temples-grid {
  display: grid;
  place-items: start;
  justify-items: center;
  gap: .5rem;
}
/* heart button */
.heart {
  cursor: pointer;
}
/* end of heart button */

.list .directory-section div {
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  padding: 1rem 0;
}


.list .directory-section:nth-of-type(even) {
  background-color: beige;
}

.list .directory-section:nth-of-type(odd) {
  background-color: #fffff4;
}


.list .directory-section h2 {
  font-size: 1.2rem;
  /* max-width: 200px; */
}

/* directory address */
/* .list .directory-section div p, .list .directory-section div a {
  max-width: 100%;
} */

.directory-grid .directory-section div {
  background-color: white;
  flex-direction: column;
  text-align: center;
}


.directory-grid .directory-section div > * {
  margin: 1rem;
  /* text-align: center; */
}

.list div p, .list div a, .directory-grid .directory-section div a {
  display: block;
  padding: .5rem 0;
}

.list .directory-section div > * {
  margin: 0 8px;
  text-align: left;
}

.list .directory-section div img {
  display: none;
  /* smaller viewports only */
}
.directory-section div img {
  height: 75px;
  max-width: 100%;
  /* Images are jerks - Seattle*/
}
p, li {
  max-width: 320px;
}

/* end of TEMPLE */

/* RESERVATION */

.guestForm {
  border: 2px solid #b7c8d8;
  background-color: #ffffff;
  margin: 20px;
  border-radius: 5px 5px 5px 5px;
}

.guestForm form {
  padding: 0px 15px 25px 15px;
}

.guestForm h3 {
  padding: 20px 0px 10px 0px;
}

.formField {
  display: flex;
}

.formField label {
  flex: 1;
  padding: 10px 5px 10px 0px;
  font-size: 1rem;
  font-weight: bolder;
}

input {
  flex: 2;
  padding: 10px;
  font-size: 16px;
}

input:required {
  border-bottom: #c95d5d solid 6px;
}

input:required:valid {
  border-bottom: #529d52 solid 6px;
}



/* #location, #checkIn, #checkOut, #roomType, #roomQty {
  font-size: 22px;
  font-weight: bolder;
} */


span #roomQty {
  padding: 15px;
}

textarea#commentBox {
  width: 100%;
  margin: 0px 0px 15px 0px;
}

input.submitForm {
  display: block;
  margin: 0 auto;
  font-size: 18px;
  background-color: #3f9d53;
  box-shadow: 3px 3px 10px #000000;
  border-radius: 5px 5px 5px 5px;
  color: white;
  font-weight: bolder;
}

input.submitForm:hover {
  background-color: #055824;
  color: #ffffff;
}
input, textarea,fieldset, select {
  border-radius: .5rem;
  font-size: 1rem;
  margin: .5rem;
  padding: 1.5% 4%;
}
.sbs {
  display: block;
  margin: .5rem;
  cursor: pointer;
  background-color: rgb(247, 235, 235);
}
/* end of RESERVATION */

/* FOOTER */
footer {
  background-color: var(--foot-background-color);
  padding: 1rem;
}

.foot-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  place-items: center;
}

.foot-social {
  text-align: right;
  margin-right: 5%;
}

.social-fb::before {
  content: url(../images/fb.svg);
}

.social-tt::before {
  content: url(../images/tt.svg);
}

.social-li::before {
  content: url(../images/li.svg);
}

.social-yt::before {
  content: url(../images/yt.svg);
}

.bordered {
  border: 1px solid black;
}

.foot-sitmap li {
  list-style-type: none;

}

footer > button{
  padding: .5rem;
  border-radius: .5rem;
}