
.cards {
    display: flex;
    justify-content: center;  
    flex-direction: row;  
    flex-wrap: wrap; 
}

main section {
    width: 320px;
    background-color: white;
    padding: .5rem;
    margin: 1rem;
    box-shadow:  16px 16px 32px #507779,
                 -16px -16px 32px #baffff;
}

.controls {
    display: flex;
    justify-content: space-around;  
    flex-wrap: wrap; 
}

.sorting {
    background-color: white;
    border-radius: .5rem;
    padding: 0 .5rem;
}
select {
    padding: .5rem;
    margin: .5rem
}

.searching{
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
    border-radius: 8px 0 0 8px;
    border: 0;
    height: 3rem;
    padding: .5rem;
    background-color: white;
    font-size: 1.5rem;
}

#search {
    border-radius: 0 8px 8px 0;
    border: 0;
    outline: none;
    height: 3rem;
    padding: 4px .5rem;
    background-color: white;
    color: #000;
}
option {
    background-color: aqua;
}

.what {
    font-weight: bold;
}

p {
    font-size: .8rem;    
}

img {
    width: 100%;
}

/* animation */

/* end of animation */