/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    margin: 2px;
  }
  
  /*----------- apply a natural box layout model to all elements --------------*/
  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
  }
  
  :root {
    --body-background-color: #ffffff;
    --body-color: #131111;
    --a-active-color: #0000ff;
    --head-foot-color: rgba(196, 212, 22, 0.326);
    --tagline-color: rgb(0, 0, 0);
    --date-background-color: rgba(243, 250, 116, 0.446);
    --date-color: rgb(55, 74, 10);
    --navbackground-color: rgb(87, 74, 74);
    --hamburgerBtn-background-color: transparent;
    --hamburgerBtn-color: #5600f6;
    --hamburgerBtn-color-shadow: rgb(255, 255, 255) 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #5600f6 0px 0px 20px, #5600f6 0px 0px 30px, #5600f6 0px 0px 40px, #5600f6 0px 0px 50px, #5600f6 0px 0px 75px;
    --hamburgerBtn-active-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    --hamburgerBtn-hover-background-color: rgb(0, 255, 26);
    --hamburgerBtn-hover-color: rgb(121, 104, 20);
    --navlink-active-background-color: rgba(0, 0, 0, 0.2);
    --navlink-active-color: #fff;
    --navlink-color: rgb(0, 247, 255);
    --navlink-hover-background-color: rgb(6, 52, 19);
    --navlink-hover-color: rgba(0, 0, 0, 0.3);
    --main-background-color: rgb(133, 199, 201);
    --main-head-foot-color: rgb(181, 181, 214);
    --main-dateBanner-background-color: #0e01ff6a;
    --main-dateBanner-color: #FFF700;
    --section-background-color: rgb(235, 240, 222);
    --galP-background-color: #fdfdf6;
  }
  
  a:focus {
    outline: 2px solid var(--a-active-color);
    outline-offset: 5px;
  }
  
  button:focus{
    box-shadow: 0 0 0 5px var(--a-active-color),
    0 0 0 10px var(--a-active-color);
  }
  
  h2,
  h3 {
    margin-top: .5rem;
  }
  
  body {
    background-color: var(--body-background-color);
    color: var(--body-color);
  }
  /* anchor, birch tree, alaska, bear brand */
  main a {
    text-decoration: wavy;
    font-weight: 900;
    color: #0c0078;
  }
  
  main a:hover {
    color: #0000ff;
  }
  
  main a:active {
    color: #0000ff;
    font-weight: bolder;
    text-transform: uppercase;
  }
  
  main a:visited {
    color: #4f0335;
  }
  

  header,
  .dateWrapper,
  nav,
  main,
  footer {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
  }
  
  /* body rules here */
  body {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
 
  /* header rulse here */
  header {
    background-color: var(--head-foot-color);
    display: flex;
    flex-flow: row;
    align-items: center;
    margin: 0 auto;
    /* border-bottom: 1px solid #bbb; */
    border-radius: 20px 20px 0 0;
  }
  
  .headerWrapper {
    display: flex;
    align-items: center;
    justify-items: left;
  }
  
  .logo {
    display: flex;
    align-items: center;
    /* margin-left: 1rem; */
    border: 1px solid black;
    border-radius: 1rem;
    padding: .2rem;
  }
  
  .logo img {
    width: 80px;
    height: auto;
  }
  
  figure {
    margin: 0;
    padding: 0;
  }
  
  .headings {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: .5rem;
  }
  
  .headings h1 {
    font-size: 1.5rem;
  }
  
  header h2 {
    margin: 0;
    font-weight: normal;
  }
  
  .m {
    letter-spacing: 1pt;
    color: var(--tagline-color);
    font-weight: 700;
    font-size: .8rem;
  }
  
  .social {
    /* margin-right: 1.5rem; */
    display: none;
  }
  
  .social svg {
    width: 25px;
    height: auto;
  }
  
  .invisible {
    /*add tis to image links*/
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    overflow: hidden;
  }
  
  header a {
    text-decoration: none;
    color: #000;
  }
  
  .dateWrapper {
    background-color: var(--head-foot-color);
    margin-top: 0;
    /* border: 1px solid gray; */
  }
  
  .date {
    text-align: center;
    padding: .8rem 2vw;
    color: var(--date-color);
  }
  
  /* navigation rules here */
  .hamburgerBtn {
    margin: .2rem 2vw;
    /* make the button look less buttonish */
    background-color: var(--hamburgerBtn-background-color);
    border: none;
    font-size: 2rem;
    /*google recommends 48 tall, apple 44 tall*/
    color: var(--hamburgerBtn-color);
    text-shadow: var(--hamburgerBtn-color-shadow)
      /*soften the contrast*/
  }
  
  .hamburgerBtn:hover {
    background-color: var(--hamburgerBtn-hover-background-color);
    color: var(--hamburgerBtn-hover-color);
    border-radius: 3rem;
  }
  
  .hamburgerBtn:active {
    text-shadow: var(--hamburgerBtn-active-shadow)
  }
  
  nav {
    display: block;
    visibility: hidden;
    height: 0;
    position: absolute;
    top: 38px;
    left: 17px;
    width: 276px;
    text-align: center;
    background-color: var(--navbackground-color);
    padding-bottom: 0;
    margin-bottom: 0;
    box-shadow: 0 -5px 30px 2px rgb(64, 59, 59);
    z-index: 999;
    transition: visibility 1s, height 1s;
  }
  
  nav.move {
    visibility: visible;
    height: 280px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li a {
    display: block;
    /*make entire width clickable*/
    padding: .8rem 2vw;
    /*make finger fit*/
    text-decoration: none;
    /*remove underline*/
    color: var(--navlink-color);
    /*almonst black*/
    border-top: 1px solid var(--navlink-color);
  }
  
  nav ul li.active a {
    /*must place before hover*/
    background-color: var(--navlink-active-background-color);
    color: var(--navlink-color);
    border-radius: 20px;
  }
  
  nav ul li a:hover {
    background-color: var(--navlink-hover-color);
    border-radius: 20px;
  }
  
  nav ul {
    display: none;
  }
  
  nav ul.open {
    display: block;
  }
  
  .close {
    display: none;
  }
  
  #hamburgerBtn span:nth-child(1) {
    display: block;
  }
  
  #hamburgerBtn span:nth-child(2) {
    display: none;
  }
  
  #hamburgerBtn.open span:nth-child(1) {
    display: none;
  }
  
  #hamburgerBtn.open span:nth-child(2) {
    display: block;
  }
  
  
  #hamburgerBtn2.close span:nth-child(1) {
    display: block;
  }
  
  #hamburgerBtn2.close span:nth-child(2) {
    display: none;
  }
  
  #hamburgerBtn2 span:nth-child(1) {
    display: none;
  }
  
  #hamburgerBtn2 span:nth-child(2) {
    display: block;
  }
  
  /* main rules here */
  main {
    display: block;
    margin-top: 0;
    min-height: 10rem;
    /* border-left: 5px solid lavender;
    border-right: 5px solid lavender; */
    background-color: var(--main-background-color);
    min-height: 24rem;
  }
  
  div#dateBanner {
    overflow: hidden;
    background-color: var(--main-dateBanner-background-color);
    color: var(--main-dateBanner-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: .5rem 2%;
    text-align: center;
    z-index: 99999;
    font-weight: 600;
  }
  
  .showme {
    display: block;
  }
  
  .hide {
    display: none;
  }
  


  /*----------- FOOTER --------------*/
  footer {
    background-color: var(--head-foot-color);
    text-align: center;
    border-radius: 0 0 20px 20px;
    text-align: center;
    color: black;
    font-weight: bold;
  }
  
  /* discover page */
  
  .mainGridDiscovery {
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-areas:
      "colorizeVisit"
      "gallery"
      "demographic"
      ;
    gap: .5rem;
  }
  
  .colorizeVisit {
    grid-area: colorizeVisit;
  }
  
  .joint {
    grid-area: joint;
  }
  .gallery {
    grid-area: gallery;
  }
  
  .demographic {
    grid-area: demographic;
  }
  
  table{
    padding: 1rem;
  margin: 1rem;
  border-collapse: collapse;
  }
  tbody{
    padding: .5rem;
    border: 1px solid black;
  }
  tr {
    width: 100%;
  }
  tr:nth-child(even) {
    background-color: #b9b3f4;
  }
  tr:nth-child(odd) {
    background-color: #c7c3ea;
  }
  tr[scope=col]:nth-child(even) {
    background: pink;
  }
  thead th {
    padding: 1rem;
    background-color: #9ee5cf;}
  td {padding: .5rem;}
  
  .spotDiscover1 {
    grid-area: spotDiscover1;
  }
  tbody th { 
    font-weight: bold;
  }
  
  .spotDiscover2 {
    grid-area: spotDiscover2;
  }
  
  
  .colorize {
    font-size: .7rem;
  }
  .placeholdit-box {
    /* border: 1px solid blue; */
    margin-top: .5rem;
    padding: .5rem;
    /* min-height: 5rem; */
    background-color: var(--section-background-color);
    border-radius: .3rem;
  } 
  
  .colorizeVisit {
    display: flex;
    flex-direction: column-reverse;
    gap: .5rem;
    margin: 0;
    padding: 0;
    align-items: stretch;
  
  }
  .colorize {
    flex-grow: 1;
  }
  
  .gallery {
    display: block;
    /* outline: 1px dashed orange; */
    /* font-size: 1.5rem; */
  }
  
  .floatLeft {
    float: left;
    margin-right: 16px;
    border-right: 8px solid transparent;
  }
  
  .floatRight {
    float: right;
    margin-left: 16px;
    border-left: 8px solid transparent;
  }
  
  .galPic {
    /* outline: 1px dashed rgb(41, 38, 223); */
    margin: 0;
    padding: 0;
  }
  .galImg {
    outline: 1px solid rgb(18, 19, 18);
    margin: 0;
    padding: 0;
    box-shadow:  10px 10px 15px #a5a89b,
                 -10px -10px 15px #ffffff;
  }
  .galImgLeft {
    border-radius: 20px 0 0 20px;
  
  }
  .galImgRight {
    border-radius: 0 20px 20px 0;
  }
  
  .galP {
    color: black;
    background: var(--galP-background-color);
    /* outline: 1px solid rgb(18, 19, 18); */
    border-radius: 10px;
    box-shadow:  10px 10px 15px #a5a89b,
                 -10px -10px 15px #ffffff;
    padding: .5rem;
  }
  .visitMessage {
    font-weight: bold;
    font-size: 2rem;
  }
  
  .demoPic{
    width: 100%;
    margin: 0 auto;
  }
  
  .demoImg {
    width: 100%;
    margin: 0 auto;
  }
  
  /* end of discover page */
  
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* lazyload */
    /* blur placeholder */
    img[data-src] {
      filter: blur(.5rem);
    }
    
    img {
      filter: blur(0rem);
      transition: filter 0.5s
    }
  
    
    .fade-in {
      animation-name: fadeIn;
      animation-duration: 1.3s;
      animation-timing-function: cubic-bezier(0, 0, 0.4, 1);
      animation-fill-mode: forwards;
    }
  
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
  
      to {
        opacity: 1;
      }
    }
  /* end of lazyload */
  
  /* bouncy bounce */
  .arrow {
    position: absolute;
    text-align: center;
    margin-top: -311px;
    margin-left: -20px;
    width: 229px;
    z-index: 999;
      background: #88b7d585;
      border: 4px solid #c2e1f5;
  }
  .arrow:after, .arrow:before {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      /* pointer-events: none; */
  }
  
  .arrow:after {
      border-color: rgba(136, 183, 213, 0);
      border-top-color: #ff00b385;
      border-width: 30px;
      margin-left: -30px;
  }
  .arrow:before {
      border-color: rgba(194, 225, 245, 0);
      border-top-color: #c2e1f5;
      border-width: 36px;
      margin-left: -36px;
  }
  .arrow-p{
    color: black;
    font-weight: bolder;
    padding: 5px 5px 0 5px;
    margin: 0;
  }
  .arrow-p-span {
    font-family: monospace;
    font-weight: bolder;
  }
  .arrow-p-span-red {
    font-family: monospace;
    color: red;
    font-weight: bolder;
  }
  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  .arrow-down {
    font-size: xx-large;
    font-weight: 900;
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
  /* end of bouncy bounce */