/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


  /*----------- BODY --------------*/



  /*----------- HEADER --------------*/
  header {
    justify-content: space-between;
  }

  header img {
    width: 100%;
  }

  .headings h1 {
    font-size: 2rem;
    margin: 0;
  }

  m {
    letter-spacing: 1.5pt;
    font-size: .9rem;
  }

  .social {
    display: block;
  }


  .date {
    /* border: 1px solid black; */
    /* padding: .4rem 1vw; */
  background-color: var(--date-background-color);
  }

  /*----------- NAVIGATION --------------*/
  nav button {
    display: none;
  }

  nav ul#primaryNav {
    display: flex;
    /*display side by side*/
    /* justify-content: flex-end; */
    margin-left: 2vw;
    border-left: 1px solid rgba(0, 0, 0, .3);
  }


  nav ul li a {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, .3);
  }

  nav ul li.active a {
    /*must place before hover*/
    border-radius: 0;
  }

  nav ul li a:hover {
    border-radius: 0;
  }

  /*----------- MAIN --------------*/



  /*----------- FOOTER --------------*/


}

/* end of media query */