/* 35em is also 560px (if basefont is 16px) */
@media only screen and (min-width: 35rem) {


  /*----------- BODY --------------*/



  /*----------- HEADER --------------*/
  header {
    justify-content: space-between;
  }

  header img {
    width: 100%;
  }

  .headings h1 {
    font-size: 2rem;
    margin: 0;
  }

  m {
    letter-spacing: 1.5pt;
    font-size: .9rem;
  }

  .social {
    display: block;
  }


  .date {
    /* border: 1px solid black; */
    /* padding: .4rem 1vw; */
  background-color: var(--date-background-color);
  }

  /*----------- NAVIGATION --------------*/
  nav button {
    display: none;
  }

  nav ul#primaryNav {
    display: flex;
    /*display side by side*/
    /* justify-content: flex-end; */
    margin-left: 2vw;
    border-left: 1px solid rgba(0, 0, 0, .3);
  }


  nav ul li a {
    border: none;
    border-right: 1px solid rgba(0, 0, 0, .3);
  }

  nav ul li.active a {
    /*must place before hover*/
    border-radius: 0;
  }

  nav ul li a:hover {
    border-radius: 0;
  }

  /*----------- MAIN --------------*/
  .mainGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "hero hero"
      "news news"
      "spotlight spotlight"
      "join join"
      "event weather";
    gap: .5rem;
  }

  .hero {
    grid-area: hero;
  }
  .news {
    grid-area: news;
  }

  .spot:nth-of-type(3) {
    display: none;
  }

  .spotlight {
    grid-area: spotlight;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "spot1 spot2";
    gap: .5rem;
  }

  .spot:nth-of-type(1) {
    grid-area: spot1;
  }
  .spot:nth-of-type(2) {
    grid-area: spot2;
  }

  .join {
    grid-area: join;
  }

  .event {
    grid-area: event;
  }

  .weather {
    grid-area: weather;
  }


  /*----------- FOOTER --------------*/
  footer * {
    outline: 0;
    /* outline: 1px dashed red; */
  }
  .fTop {
    display: flex;
    /* flex-flow: row; */
    justify-content: space-between;
    /* align-items: baseline; */
    padding: 0;
  }

  .fLeft {
    display: flex;
    flex-direction: row;
  }

  .fLeft p {
    text-align: left;
    margin: 0;
    padding: .5rem;
  }
  .fRight p:first-of-type {
    margin-top: 0;
  }
  .fRight p {
    padding: .5rem;
    text-align:right;
  }

}

/* end of media query */