/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; margin: 2px;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

:root {
  --main-background-color: rgb(231, 254, 255);
  --head-foot-color: rgb(181, 181, 214);
  --navbackground-color: rgb(51, 143, 28);
  --navlink-color: rgb(29, 10, 10);
  --navlink-hover-color: rgb(23, 255, 81);
  --navlink-hoverbackground-color: rgb(6, 52, 19);
  --navlink-active-color: rgb(45, 11, 147);
}

header,
nav,
main,
footer {
	max-width: 767px;
	margin: 0 auto;
}

/* body rules here */
body {
  font-size: 16px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p button {
  border: 0px;
  background-color: var(--main-background-color);
  padding: 0;
  margin: 0;
  font-weight: bold;
}

/* header rulse here */
header {
  padding: .5rem 2%;
  background-color: var(--head-foot-color);
  display: grid;
  grid-template-columns: 80px auto;
  border-radius: 20px 20px 0 0;
  align-items: center;
}
header div {
  margin-left: 10px;
}
header a {
  text-decoration: none;
  color: #000;
}
header h1 {margin: 0;}
header h2 {margin: 0; font-weight: normal;}

/* navigation rules here */
nav {
  display: block;
  background-color: var(--navbackground-color);
  padding-bottom: 0;
  margin-bottom: 0;
  /* border-left: 5px solid lavender;
  border-right: 5px solid lavender; */
  box-shadow: 0 -5px 30px 2px rgb(64, 59, 59);
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: block;
  color: var(--navlink-color);
  padding: .5rem 0;
  text-decoration: none;
  font-size: .9rem;
  text-align: center;
  border-left: 5px solid var(--main-background-color);
}


nav ul li a:hover {
  background-color: var(--navlink-hoverbackground-color);
  color: var(--navlink-hover-color);
  border-radius: 0 20px 0 0;
}
nav ul li.active a {
  background-color: var(--main-background-color);
  color: var(--navlink-active-color);
  
  border-radius: 0 20px 0 0;
}

/* main rules here */
main {
  display: block;
  padding: 0 2%;
  padding-top: 10px;
  margin-top: 0;
  min-height: 10rem;
  /* border-left: 5px solid lavender;
  border-right: 5px solid lavender; */
  background-color: var(--main-background-color);
  min-height: 24rem;
}
main h1 {
  margin-top: 0;
  padding-top: 20px;
}
main  p:last-of-type {
  margin-bottom: 0;
  padding-bottom: 20px;
}
main ol {
  margin: 0;
}
section:last-of-type {
  padding-bottom: 10px;
}
/*----------- FOOTER --------------*/
footer {
  background-color: var(--head-foot-color);
  padding: .5rem 2%;
  text-align: center;
  border-radius: 0 0 20px 20px;
}
