body {
    max-width: 900px;
    margin: 30px auto 30px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid beige;
    padding: 30px;
}
header h1 {
    color: brown;
}
nav ul {
    padding: 0;
}
nav ul li {
    float: left;
    list-style-type: none;
}
nav ul li a {
    display: block;
    padding: .5rem 1rem;
    background-color: orange;
    text-decoration: none;
}
.selected {
    color: red;
    font-weight: bold;
}
main h1 {
    clear: both;
}
main img {
    float: right;
}
footer {
    text-align: center;
    clear: both;
}
@media screen and (max-width: 550px) {
    header main {
        display: block;
    }
    
}